<div class="container mt-5">
  @if (recipes().length > 0) {
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    @for (recipe of recipes(); track recipe.id) {
    <div class="col mb-5">
      <app-recipe-card [recipe]="recipe"></app-recipe-card>
    </div>
    }
  </div>
  } @else { @if (hasFiltersApplied()) {
  <!-- Mensaje cuando hay filtros aplicados pero no hay resultados -->
  <div class="bg-light border border-2 border-warning rounded-3 p-5 my-5">
    <div class="d-flex flex-column align-items-center text-center">
      <i class="bi bi-filter-circle text-warning" style="font-size: 3rem; margin-bottom: 1rem"></i>
      <h4 class="fw-bold mb-2">No se encontraron recetas</h4>
      <p class="text-muted">
        No hay recetas que coincidan con los filtros aplicados.
        <br />
        Intenta cambiar los criterios de búsqueda.
      </p>
    </div>
  </div>
  } @else {
  <!-- Mensaje cuando no hay recetas en absoluto -->
  <div class="bg-light border border-2 border-success rounded-3 p-5 my-5">
    <div class="d-flex flex-column align-items-center text-center">
      <i class="bi bi-inbox" style="font-size: 3rem; color: #000; margin-bottom: 1rem"></i>
      <h4 class="fw-bold mb-2">No hay recetas disponibles</h4>
      <p class="text-muted mb-4">
        Comienza a guardar tus recetas favoritas. ¡Crea tu primera receta ahora!
      </p>
      <div class="d-flex align-items-center gap-2">
        <a [routerLink]="['/recipe/new']" class="btn btn-success btn-lg">
          <i class="bi bi-plus-circle"></i>
          Crear receta
        </a>
        <span class="mx-2">ó</span>
        <button class="btn btn-info btn-lg" (click)="handleLoadDefaultRecipe()">
          <i class="bi bi-upload"></i>
          Carga un ejemplo predeterminado
        </button>
      </div>
    </div>
  </div>
  } }
</div>
